CompileFlags:
  Compiler: "D:/STM32CubeIDE/STM32CubeIDE_1.18.0/STM32CubeIDE/plugins/com.st.stm32cube.ide.mcu.externaltools.gnu-tools-for-stm32.13.3.rel1.win32_1.0.0.202411081344/tools/bin/arm-none-eabi-gcc.exe"
  Add:
    - "-resource-dir=C:/Program Files/LLVM/lib/clang/18"
    - "-isystem"
    - "C:/Program Files/LLVM/lib/clang/18/include"
    - "-mcpu=cortex-m4"
    - "-mthumb"
    - "-mfpu=fpv4-sp-d16"
    - "-mfloat-abi=hard"
    - "-std=gnu11"
    - "-DDEBUG"
    - "-DUSE_HAL_DRIVER"
    - "-DSTM32F407xx"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Core/Inc"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Drivers/STM32F4xx_HAL_Driver/Inc"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Drivers/CMSIS/Device/ST/STM32F4xx/Include"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Drivers/CMSIS/Include"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/USB_DEVICE/App"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/USB_DEVICE/Target"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Middlewares/ST/STM32_USB_Device_Library/Core/Inc"
    - "-ID:/University learning data/hardware_c/STM32_final_project/NIM_Assistant_F407/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Inc"
